# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Streamlit/Logs/Data
.streamlit/*.json
data/logs/*
!data/logs/.gitkeep
data/pdfs/*
!data/pdfs/.gitkeep
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Langfuse
langfuse.log
