numpy<2
httpx==0.27.0
streamlit==1.39.0
weaviate-client==4.6.3
pypdf==5.1.0
tiktoken==0.7.0
pillow==10.4.0
pdf2image==1.17.0
pytesseract==0.3.13
bcrypt==4.2.0
python-dotenv==1.0.1
requests==2.32.3
langchain==0.3.7
langchain-community==0.3.7
langchain-text-splitters==0.3.8
